{% extends "layouts/base.html" %}

{% block title %} Title on Tab Goes Here{% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
{#      <div class="col-lg-12">#}
{#			<div class="card">#}
{#				<div class="card-header">#}
{#					<h4 class="text-center"><a href="{% url 'trailers' %}" class="text-center">Trailer List</a></h4>#}
{#				</div>#}
{#				<div class="card-body">#}
{#					<div class="table-responsive">#}
{#						<table class="table table-striped">#}
{#							<thead class="text-primary">#}
{#							<tr>#}
{#								<th class="text-center">Trailer #</th>#}
{#								<th class="text-center">Plate #</th>#}
{#								<th class="text-center">Plate State</th>#}
{#								<th class="text-center">Lease Company</th>#}
{#								<th class="text-center">Location City</th>#}
{#								<th class="text-center">Location State</th>#}
{#								<th class="text-center">Location Country</th>#}
{#								<th class="text-center">Status</th>#}
{#								<th class="">Actions</th>#}
{#							</tr>#}
{#							</thead>#}
{#							<tbody>#}
{#							{% for trailer in trailers %}#}
{#							<tr>#}
{#								<td class="text-center">{{ trailer.trailer__trailerNumber}}</td>#}
{#								<td class="text-center">{{ trailer.trailer__trailerPlateNumber }}</td>#}
{#								<td class="text-center">{{ trailer.trailer__trailerPlateState }}</td>#}
{#								<td class="text-center">{{ trailer.trailer__trailerLeaseCompany }}</td>#}
{#								<td class="text-center">{{ trailer.locationCity }}</td>#}
{#								<td class="text-center">{{ trailer.locationState }}</td>#}
{#								<td class="text-center">{{ trailer.locationCountry }}</td>#}
{#								<td class="text-center">{{ trailer.statusCode }}</td>#}
{#		            <td class="td-actions">#}
{#		                <a href="{% url 'updateTrailer' trailer.trailer__id %}" class="btn btn-primary">Edit</a>#}
{#		                <a href="{% url 'deleteTrailer' trailer.trailer__id %}" class="btn btn-danger">Delete</a>#}
{#		            </td>#}
{#							</tr>#}
{#							{% endfor %}#}
{#							</tbody>#}
{#						</table>#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
{#      </div>#}
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Global Sales by Top Locations</h4>
            <p class="card-category">All products that were shipped</p>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="table-responsive">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td>
                          <div class="flag">
                            <img src="/static/assets/img/US.png" alt="flag">
                          </div>
                        </td>
                        <td>USA</td>
                        <td class="text-right">
                          2.920
                        </td>
                        <td class="text-right">
                          53.23%
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="flag">
                            <img src="/static/assets/img/DE.png" alt="flag">
                          </div>
                        </td>
                        <td>Germany</td>
                        <td class="text-right">
                          1.300
                        </td>
                        <td class="text-right">
                          20.43%
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="flag">
                            <img src="/static/assets/img/AU.png" alt="flag">
                          </div>
                        </td>
                        <td>Australia</td>
                        <td class="text-right">
                          760
                        </td>
                        <td class="text-right">
                          10.35%
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="flag">
                            <img src="/static/assets/img/GB.png" alt="flag">
                          </div>
                        </td>
                        <td>United Kingdom</td>
                        <td class="text-right">
                          690
                        </td>
                        <td class="text-right">
                          7.87%
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="flag">
                            <img src="/static/assets/img/RO.png" alt="flag">
                          </div>
                        </td>
                        <td>Romania</td>
                        <td class="text-right">
                          600
                        </td>
                        <td class="text-right">
                          5.94%
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="flag">
                            <img src="/static/assets/img/BR.png" alt="flag">
                          </div>
                        </td>
                        <td>Brasil</td>
                        <td class="text-right">
                          550
                        </td>
                        <td class="text-right">
                          4.34%
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-md-6 ml-auto mr-auto">
                <div id="worldMap" style="height: 300px;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

      demo.initVectorMap();

    });
  </script>

{% endblock javascripts %}
